<a href="#" class="js-next" data-id="<%= @product.id %>">Next Product</a>
<h2 id="productName"><%= @product.name %></h2>
<p id="productInventory"><%= @product.inventory %></p>
<p id="productPrice"><%= @product.price %></p>
<p id="productDescription"><%= @product.description %></p>

<script type="text/javascript">
  $(function() {
    $(".js-next").on("click", function(e) {
      e.preventDefault();

      let nextId = parseInt( $(".js-next").attr("data-id") ) + 1;

      $.getJSON("/products/" + nextId + "/data", function(data) {
        $("#productName").text(data["name"]);
        $("#productPrice").text(data["price"]);
        $("#productDescription").text(data["description"]);
        $("#productInventory").text(data["inventory"]);
        // reset id
        $(".js-next").attr("data-id", data["id"]);
      });
    });
  });
</script>
